#chartsDiv .charts-container:nth-of-type(1){

	display:none !important;
}

.changeStats{
  display:none;	
	
}



#lineGraphDialog{
	
	position:absolute;
	/*margin-left:170px;*/
	/*left:300px;
	top:820px;*/
	width:400px;
}

